<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Person</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="person.name" placeholder="Your name"><br>
        <input type="text" v-model="person.surName" placeholder="Your surname"><br>
        <input type="number" v-model="person.age" placeholder="Your age"><br>
        
        <input type="radio" id="male" value="male" v-model="person.gender">
        <label for="male">Male</label><br>
        <input type="radio" id="female" value="female" v-model="person.gender">
        <label for="female">Female</label><br>
        
        <input type="checkbox" id="dog" value="Dog" v-model="person.pets">
        <label for="dog">Dog</label>
        <input type="checkbox" id="cat" value="Cat" v-model="person.pets">
        <label for="cat">Cat</label>
        <input type="checkbox" id="bird" value="Bird" v-model="person.pets">
        <label for="bird">Bird</label>
        <br>
        
        <select v-model="person.role">
            <option value="" disabled>Select role</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
    
        <span>
    {{person}}
        </span>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data:{
                person:{
                    name:'',
                    surName:'',
                    age:'',
                    gender:'',
                    pets:[],
                    role:'',
                }
            }
        });
    </script>
</body>
</html>